

/* ============================== Impression ============================= */
@media print {
	body {
		background-color: red;
	}
	a {
		color: black;
	}

	* {
		animation: unset !important;
	}

	.iconContact {
		visibility: hidden;
	}
	#contentPopup > *, #Arrow {
		display: none;
	}
}